@{
    Layout = null;
}

@using System.Text.RegularExpressions;

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Movie Shop | Cart</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>

    <script src="https://kit.fontawesome.com/64e875fda5.js" crossorigin="anonymous"></script>

    <!-- CSS Style Sheets -->
    <link rel="stylesheet" href="~/Content/movieshoppage.css">
</head>
<body id="shopping-cart-body">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse">
                </button>
                <img class="company-logo" src="~/Images/OldFilmCamera.png" />
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li style="font-weight:bold;">@Html.ActionLink("Movie Shop", "MovieShop", "Customers")</li>
                    @*<li class="active" style="font-weight:bold;">@Html.ActionLink("Contact", "Contact", "Customers")</li>*@
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>


    <div class="container" id="order-detail-containter" style="margin-top:5%">
        <table class="table table-striped" id="shopping-table">
            <tr align="center">
                <th><lable>Title</lable></th>
                <th><lable>Qty</lable></th>
                <th><label>Price (SEK)</label></th>
                <th><label>Sum (SEK)</label></th>
            </tr>
            <tbody>

                @{
                    int TotalSum = 0;
                    string BtnId = "";
                    string BtnIdPlus = "";
                    string BtnIdMinus = "";
                    string BtnIdQuantity = "";}

                @for (int i = 0; i < ViewBag.Collection.Length; i++)
                {
                    BtnId = Regex.Replace(@ViewBag.Collection[i][0], @"[^A-Za-z]+", "");
                    BtnIdPlus = BtnId + "Plus";
                    BtnIdMinus = BtnId + "Minus";
                    BtnIdQuantity = BtnId + "QTY";
                    <tr>
                        <td id="movie-title">@ViewBag.Collection[i][0]</td>
                        <td>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-secondary btn-danger btn-minus" id="@BtnIdMinus" onclick="ChangeQty('@BtnIdMinus')">-</button>
                                <button type="button" class="btn btn-secondary btn-quantity" id="@BtnIdQuantity">@ViewBag.Collection[i][1]</button>
                                <button type="button" class="btn btn-secondary btn-success btn-plus" id="@BtnIdPlus" onclick="ChangeQty('@BtnIdPlus')">+</button>
                            </div>
                        </td>
                        <td id="price">@ViewBag.Collection[i][2]</td>
                        <td id="totalprice">@ViewBag.Collection[i][3]</td>
                    </tr>
                    TotalSum += Int32.Parse(@ViewBag.Collection[i][3]);
                }

                <tr id="total-sum" style="font-weight:bold;">
                    <td colspan="2">Total Sum</td>
                    <td></td>
                    <td id="totalsum">@TotalSum</td>
                </tr>

                <tr id="cancel-buy-buttond" style="font-weight:bold;">
                    <td colspan="2"><span class="btn btn-danger btn-lg" id="cancel-order-btn">@Html.ActionLink("Cancel Order", "MovieShop", "Customers")</span></td>
                    <td colspan="2"><a href="#" class="btn btn-success btn-lg pull-right" onclick="hideOrderDetailContainter()">Place Order</a></td>
                </tr>

            </tbody>
        </table>
    </div>

    @using (Html.BeginForm("PlaceOrder", "Customers", FormMethod.Post))
    {
        <div class="container" id="place-order-container">
            <h1 class="bg-success" id="customer-order-registration-header">Order Registration</h1>

            <div id="order-symmary">
                <div class="bg-success" id="order-symmary-div-h3"><h3>Order Summary</h3></div>
                <div id="order-symmary-div-h4"><h4>Your order value: <b>SEK</b> <span id="order-registration-total-sum"><b>@TotalSum</b></span></h4></div>
            </div>

            <div class="container" id="order-registration">
                <div class=" d-flex flex-row form-group col-md-6" method="post" id="customer-details">
                    <div class="bg-success" id="billing-information"><h3>Billing Information</h3></div>
                    <div id="customer-details-form">
                        <label class="label label-info" for="customer-first-name">First Name<span style="color:red;"> *</span></label>
                        <input type="text" class="form-control" name="FirstName" id="customer-first-name" placeholder="First Name" required>

                        <label class="label label-info" for="customer-last-name">Last Name <span style="color:red;"> *</span></label>
                        <input type="text" class="form-control" name="LastName" id="customer-last-name" placeholder="Last Name" required>

                        <label class="label label-info" for="customer-email">Email address<span style="color:red;"> *</span></label>
                        <input type="email" class="form-control" name="Email"id="customer-email" placeholder="firstname.secondname@movieshop.com" required>

                        <label class="label label-info" for="customer-phone">Telephone <span style="color:red;"> *</span></label>
                        <input type="tel" class="form-control" name="Phone" pattern="^(+{1}|0{2})[0-9]" id="customer-phone" placeholder="Phone" required>

                        <label class="label label-info" for="customer-billing-address">Billing address <span style="color:red;"> *</span></label>
                        <input type="text" class="form-control" name="BillingAdress" id="customer-billing-address" placeholder="Street and Street number" required>
                        <input type="text" class="form-control" name="BillingZip" id="customer-billing-zip" placeholder="Zip code"required>
                        <input type="text" class="form-control" name="BillingCity" id="customer-billing-city" placeholder="City"required>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="shipping-address-check" onclick="shippingAddressCheck()">
                            <label class="form-check-label" for="shipping-address-check">
                                Check here if the shipping and billing address are the same
                            </label>
                        </div>

                        <label class="label label-info" for="customer-shipping-address">Shipping address</label>
                        <input type="text" class="form-control" name="ShippingAdress" id="customer-shipping-address" placeholder="Street and Street number">
                        <input type="text" class="form-control" name="ShippingZip" id="customer-shipping-zip" placeholder="Zip code">
                        <input type="text" class="form-control" name="ShippingCity" id="customer-shipping-city" placeholder="City">
                        <div class="form-check">
                            <input class="form-check-input" name ="CreateAccountCheckBox" type="checkbox" value="false" id="create-account" onclick="CreateAccount()">
                            <label class="form-check-label" for="create-account">
                                Check here if you want to create an account.
                            </label>
                            <h4 class="alert-danger"><b>An email with account details will be sent to you.</b></h4>
                        </div>

                        <div style="width:0; height:0;" hidden>
                            <input type="text" name="FinalShoppingList" id="FinalShoppingList" />
                        </div>
                    </div>
                </div>

                <div class="row col-md-5" id="payment-details-row">
                    <div class="form-group col-md-5" id="payment-details">
                        <div class="bg-success" id="payment-information"><h3>Payment Information</h3></div>
                        <div id="payment-details-form">
                            <ul>
                                <li id="payment-alternative">
                                    <input class="form-check-input" type="checkbox" value="" id="credit-card" onclick="UncheckOtherPaymentOptions('#credit-card')">
                                    <label class="form-check-label" for="credit-card">Credit Card</label>
                                </li>
                                <li id="payment-alternative">
                                    <input class="form-check-input" type="checkbox" value="" id="direct-bank-payment" onclick="UncheckOtherPaymentOptions('#direct-bank-payment')">
                                    <label class="form-check-label" for="direct-bank-payment">Direct Bank Payment</label>
                                </li>
                                <li id="payment-alternative">
                                    <input class="form-check-input" type="checkbox" value="" id="paypal" onclick="UncheckOtherPaymentOptions('#paypal')">
                                    <label class="form-check-label" for="paypal">Paypal</label>
                                </li>
                                <li id="payment-alternative">
                                    <input class="form-check-input" type="checkbox" value="" id="swish" onclick="UncheckOtherPaymentOptions('#swish')">
                                    <label class="form-check-label" for="swish">Swish</label>
                                </li>
                            </ul>
                            <img id="payment-information-img" src="~/Images/payment-methods-transparent-trust-badges-shopify.png" />
                        </div>
                    </div>
                    <div class="col-md-5" id="cancel-or-place-order-btngrp">
                        <table>
                            <tr>
                                <td colspan="2"><span class="btn btn-danger btn-md" id="cancel-order-button">@Html.ActionLink("Cancel Order", "MovieShop", "Customers")</span></td>
                                <td colspan="2"><span class="btn btn-info btn-md" id="view-order-details-button" onclick="hideOrderDetailContainter()">Order details</span></td>
                                <td colspan="2"><button class="btn btn-success btn-md submit" id="place-order-button" onclick="javacript:document.forms[0].submit();">Place Order</button></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }

    <!-- jQuery -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <!-- Bootstrap JS -->
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js'></script>
    <script src="~/Scripts/movieshop.js"></script>
    <script>
        $("#place-order-container").hide();
    </script>
    @*<script>
        window.addEventListener('beforeunload', function (e) {
            // Cancel the event
            e.preventDefault(); // If you prevent default behavior in Mozilla Firefox prompt will always be shown
            // Chrome requires returnValue to be set
            e.returnValue = '';

        })
    </script>*@
</body>
</html>
